
//----------- Roboto Condensed --------------

@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/robotocondensed-regular-webfont.eot');
  src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
       url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
       url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//----------- Roboto --------------

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-light-webfont.woff') format('woff'),
       url('../fonts/roboto-light-webfont.ttf') format('truetype'),
       url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-thin-webfont.eot');
  src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-thin-webfont.woff') format('woff'),
       url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
       url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-regular-webfont.woff') format('woff'),
       url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
       url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: 500;
  font-style: normal;
}
