@charset 'UTF-8';

//---------------------------------------------------------IMPORTS---------------------------------------------------------

@import "font-awesome";
@import "fonts";
@import "variables";
@import "bootstrap/bootstrap"; 

//---------------------------------------------------------------GLOBAL----------------------------------------------------

*::-moz-focus-inner { border: 0 !important; }
*:focus { outline: none !important; }

html {
	height: 100%;
}

body {
	min-height: 100%;
	zoom: 1;
}

img {
	max-width: 100%;
}

.container {
	max-width: $screen-lg;
}

a, p {
	margin: 0;
}

a {
	transition: 500ms;
	font-family: 'roboto', sans-serif;
	font-weight: 500;
	
	&:hover, &:focus, &:active {
		transition: 500ms;
	}
}

span {
	color: $green-dark;
}

//---------------------------------------------------------------BUTTON----------------------------------------------------

.btn {
	font-size: 16px;	
}

input[type="submit"], input[type="reset"], button {
  @extend .btn;
  @extend .btn-danger;
}

/*------------------------------FORMS--------------------------------------*/

form {
  margin: 1.4em 0 2em;
}

label {
  @extend .control-label;
  line-height: $line-height-large;
}

.input {
  @extend .form-group;
}

input[type="text"], input[type="password"], input[type="number"],
input[type="email"], input[type="tel"],
textarea, select {
  @extend .form-control;
  padding: 4px 8px;
}
  
.select-wrapper {
  background-image: url(/img/angle-down-black.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-color: $input-bg;
  color: $input-color;
  
  select {
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    &::-ms-expand {
      display: none;
    }
  }
  
  option {
    background: $input-bg;
    color: $input-color;
  }
}

.table-striped {
	thead, tbody, tfoot {
		tr {
			
			td, th {
				background: #fff;
				vertical-align: middle;
			}
			
			&:nth-child(2n+1){
				td, th {
					background: $table-bg-accent;
				}
			}
			
			&.ui-state-highlight {
				border-color: $green-light !important;
				
				td, th {
					background: $green-light;
				}
			}
		}
	}
}

.table {
	.bigger-text {
		font-size: 1.2em;
	}
	
	tr {
		td, th {
			&.narrow {
				width: 5%;
				text-align: center;
			}
		}
	}
	
	a, .fa-bars {
		color: $green-light;
		cursor: pointer;
		
		&:hover, &:focus {
			color: $green-dark;
		}
	}
}
