//------------------------------------------------------------VARIABLES------------------------------------------------------------

@import "variables";
@import "bootstrap";

//----------------------------------------------------------LEFT SIDEBAR------------------------------------------------------------

#sidebar {
  
	height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  background: $sidebar-bg !important;
	
	@media (max-width: $screen-sm ) {
		display: none !important;
	}
	
	#comp-logo {
		margin: 2em 0;
	}

  ul {		
  	li {
			margin: 0;
			
  		a {
  			text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #ffffff;
				color: #ffffff;
        padding: 0.5em;
				border-radius: 0;
				font-size: $font-size-base;
        
        &:hover, &:focus, &.selected {
          background-color: $btn-blue-dark;
          color: #fff;
        }
  		}

  	}
  }
}


