@import "variables";
@import "bootstrap";

//---------------------------------------------------------------LOGIN------------------------------------------------------

#login-form {
  background: #ffffff;
  @include border-radius(1em);
  margin-top: 2em;
  
  h2 {
    margin-bottom: 1em;
  }
  
  .submit {
    margin-bottom: 1em;
  }
}
