//---------------------------------------------------------IMPORTS---------------------------------------------------------

@import "template";

//---------------------------------------------------------------GLOBAL----------------------------------------------------


// ==== Header ====

#header {
  
  #header-top {
    padding: 3em 0;
    background: url('../img/header-image.png') no-repeat center center;
    @include background-size(cover);
    
    .btn-warning {
      margin-bottom: 1em;
    }
  }
  
  nav {
    
    .navbar-toggle {
      margin: 0.5em 0;
    }
    
    li {
      a {
        font-size: $font-size-large;
        text-transform: uppercase;
        font-family: 'roboto', sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        
        &.selected {
          background: $green-dark;
          color: #fff;
        }
        
        &.socialmedia {
          color: $brand-primary;
          @include border-radius(1000px);
          background: $socialmedia;
          width: 32px;
          height: 32px;
          text-align: center;
          padding: 6px 0;
          margin: 8px 10px 8px 0;
          
          &:hover, &:focus, &:focus {
            opacity: 0.7;
          }
        }
      }
    }   
  }
   
}


// ==== Content ====

.content-wrapper {
  padding: 2em 15px;

  .add {
    margin: 1.5em 0;
  }
}

// ==== Footer ====

#preFooter {
  background: $green-footer;
  padding: 2em 0;
  
  .btn-warning {
    margin-top: 4em;
  }

  #footer-content {
    border-top: 1px solid #ffffff;
    padding-top: 1.5em;
    margin-top: 1.5em;
    
    p, a {
      color: #fff;
    }
    
    a:hover, a:focus, a:active {
      color: $green-dark;
      text-decoration: none;
    }
    
    h3 {
      color: $brand-primary;
      text-transform: uppercase;
    }
    
    .margin-top-0 {
      margin-top: 0;
    }
  }
  
}

#footer {
  background: #ffffff;
  padding: 2em 0;
}

#copy-right {
  padding: 2em 0;
  background: $green-footer-dark;
  
  ul {
    margin: 0;
    
    li {
      padding-right: 0;
      
      &:before {
        content: '|';
        color: #fff;
      }
      
      &:first-child {
        &:before {
          content: '';
        }
      }
      
      a {
        margin-left: 0.65em;
      }
    }
  }
  
  a, p {
    font-size: 11px;
    color: #ffffff;
  }
}


